.camisas{width: 400px;height: 400px; margin-left: 30px ; border-radius: 50px; border: 20px rgb(243, 134, 134);}
.botellas{width: 400px;height: 400px; margin-left: 30px ; border-radius: 50px; border: 20px rgb(243, 134, 134);}
.jarras{width: 400px;height: 400px; margin-left: 30px ; border-radius: 50px; border: 20px rgb(243, 134, 134);}
.llaveros{width: 400px;height: 400px; margin-left: 30px ; border-radius: 50px; border: 20px rgb(243, 134, 134);}
.gorras{width: 400px;height: 400px; margin-left: 30px ; border-radius: 50px; border: 20px rgb(243, 134, 134);}